<a href="https://colab.research.google.com/github/suryautharakumar/CMP7005_Programming_for_Data_Analysis/blob/main/Week5_workshop4__Pandas_Part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **ðŸ§­ Task 1 â€“ Fundamental Data Understanding (Indian Air Pollution Data)**

### **ðŸŽ¯ Objective :**

The purpose of this task is to help you explore and understand the structure and quality of the Indian Air Pollution Dataset provided for your assessment.
You will use Pandas to:

* Combine multiple CSV files into a single dataset, and

* Perform fundamental data understanding (data inspection, summary statistics, and missing value analysis).

## **Mounting the drive**

In [1]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
%cd '/content/drive/MyDrive/Colab/CMP7005_Programming_for_Data Analysis/Assessment_Data'
# please change the path according to the location of your data

/content/drive/MyDrive/Colab/CMP7005_Programming_for_Data Analysis/Assessment_Data

In [3]:
%ls # it shows all the content of your folder if done properly

Ahmedabad_data.csv     Coimbatore_data.csv  Kolkata_data.csv
Aizawl_data.csv        Delhi_data.csv       Lucknow_data.csv
Amaravati_data.csv     Ernakulam_data.csv   Mumbai_data.csv
Amritsar_data.csv      Gurugram_data.csv    Patna_data.csv
Bengaluru_data.csv     Guwahati_data.csv    Shillong_data.csv
Bhopal_data.csv        Hyderabad_data.csv   Talcher_data.csv
Brajrajnagar_data.csv  Jaipur_data.csv      Thiruvananthapuram_data.csv
Chandigarh_data.csv    Jorapokhar_data.csv  Visakhapatnam_data.csv
Chennai_data.csv       Kochi_data.csv

# **ðŸ§© What You Need to Do:**

**Step 1: Import Libraries :**

Start by importing the necessary Python libraries:

In [4]:
import pandas as pd
import os

### **ðŸ§© Merging of the csv files:**



### **Combining all the csv files in the drive path: You can use either of the merging options:**  
---

**ðŸ§© OPTION 1 :**

In [5]:
# Import the necessary libraries
import pandas as pd  # pandas is used for working with data tables
import glob         # glob is used to find files by name patterns

# STEP 1: The pattern "*_data.csv" means "find all files that end with '_data.csv'"
# This will find files like: Ahmedabad_data.csv, Delhi_data.csv, Mumbai_data.csv, etc.
city_files = glob.glob("*_data.csv")

# STEP 2: Create an empty list to store all our city data
# We'll put each city's data in this list before combining them
all_cities_data = []

# STEP 3: Read each city file one by one
for file_name in city_files:
    # Read the current city's CSV file into a DataFrame
    # A DataFrame is like a spreadsheet table in Python
    city_df = pd.read_csv(file_name)

    # Add this city's data to our list
    all_cities_data.append(city_df)

    # Optional: Print which file we just read
    print(f"Loaded: {file_name}")

# STEP 4: Combine all city data into one big table
# pd.concat() joins all the DataFrames in our list together
# ignore_index=True makes sure the row numbers are continuous (0, 1, 2, 3...)
combined_data = pd.concat(all_cities_data, ignore_index=True)

# STEP 5: Save the combined data to a new CSV file
# index=False means don't save the row numbers as a separate column
combined_data.to_csv("all_cities_combined.csv", index=False)

# STEP 6: Show us what we accomplished
# len(city_files) = count of how many city files we combined
# len(combined_data) = total number of rows in the final combined file
print(f"SUCCESS: Combined {len(city_files)} city files into one file with {len(combined_data)} total rows")
print("The combined file is saved as: all_cities_combined.csv")

Loaded: Kochi_data.csv
Loaded: Bhopal_data.csv
Loaded: Lucknow_data.csv
Loaded: Kolkata_data.csv
Loaded: Guwahati_data.csv
Loaded: Amaravati_data.csv
Loaded: Aizawl_data.csv
Loaded: Thiruvananthapuram_data.csv
Loaded: Jaipur_data.csv
Loaded: Ernakulam_data.csv
Loaded: Bengaluru_data.csv
Loaded: Mumbai_data.csv
Loaded: Hyderabad_data.csv
Loaded: Patna_data.csv
Loaded: Talcher_data.csv
Loaded: Shillong_data.csv
Loaded: Coimbatore_data.csv
Loaded: Visakhapatnam_data.csv
Loaded: Chennai_data.csv
Loaded: Gurugram_data.csv
Loaded: Brajrajnagar_data.csv
Loaded: Amritsar_data.csv
Loaded: Jorapokhar_data.csv
Loaded: Delhi_data.csv
Loaded: Chandigarh_data.csv
Loaded: Ahmedabad_data.csv
SUCCESS: Combined 26 city files into one file with 29531 total rows
The combined file is saved as: all_cities_combined.csv

In [6]:
df= pd.read_csv('all_cities_combined.csv')
df

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Kochi,22/01/2020,46.54,113.87,21.86,84.84,99.99,27.89,1.25,7.01,19.69,NaN,0.00,NaN,NaN,NaN
1,Kochi,23/01/2020,62.48,110.34,22.08,55.67,73.57,25.35,1.33,6.48,9.54,NaN,0.00,NaN,110.0,Moderate
2,Kochi,24/01/2020,62.87,114.86,37.44,60.49,97.80,25.60,1.44,6.91,9.06,NaN,0.00,NaN,111.0,Moderate
3,Kochi,25/01/2020,61.76,113.70,92.78,67.73,160.51,22.11,1.34,6.68,11.29,NaN,0.00,NaN,144.0,Moderate
4,Kochi,26/01/2020,66.76,113.24,106.79,58.69,165.49,20.70,1.36,6.75,11.43,NaN,0.05,NaN,197.0,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29526,Ahmedabad,27/06/2020,62.12,118.67,9.18,56.35,19.86,NaN,0.49,12.44,68.05,1.32,37.76,1.62,92.0,Satisfactory
29527,Ahmedabad,28/06/2020,31.57,NaN,6.37,23.99,16.40,NaN,0.52,11.01,26.34,1.37,49.58,1.34,82.0,Satisfactory
29528,Ahmedabad,29/06/2020,29.75,127.98,9.06,25.15,18.92,NaN,0.67,12.10,34.99,1.39,60.21,0.79,74.0,Satisfactory
29529,Ahmedabad,30/06/2020,40.02,121.10,7.09,58.92,33.41,NaN,0.73,16.39,41.64,1.21,44.10,1.35,98.0,Satisfactory
29530,Ahmedabad,01/07/2020,37.63,NaN,4.42,35.04,20.17,NaN,0.28,14.40,9.69,1.73,47.05,1.87,119.0,Moderate

**ðŸ§© OPTION 2 :**


The process involves iterating through all files in a specified directory (drive_path) to identify those with a .csv extension. Each identified CSV file is then read into a Pandas DataFrame, which is subsequently appended to a list (dataframes). Once all the CSV files are processed, the individual DataFrames in the list are combined into a single consolidated DataFrame (all_data) using the pd.concat() function. This consolidation ensures that the combined data is reindexed, creating a unified dataset for further analysis.

In [ ]:
drive_path = '/content/drive/MyDrive/Semester1_25/Beijing air quality'

In [ ]:
dataframes = []
for filename in os.listdir(drive_path):
    if filename.endswith('.csv'):  # Check if the file is a CSV file
        file_path = os.path.join(drive_path, filename)
        df = pd.read_csv(file_path)  # Read the CSV file into a DataFrame
        dataframes.append(df)  # Add the DataFrame to the list

In [ ]:
df1 = pd.concat(dataframes, ignore_index=True)

## **ðŸ§© Perform Fundamental Data Understanding :**

**Once you have the merged dataset, explore and understand its structure.**

In [7]:
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Kochi,22/01/2020,46.54,113.87,21.86,84.84,99.99,27.89,1.25,7.01,19.69,NaN,0.00,NaN,NaN,NaN
1,Kochi,23/01/2020,62.48,110.34,22.08,55.67,73.57,25.35,1.33,6.48,9.54,NaN,0.00,NaN,110.0,Moderate
2,Kochi,24/01/2020,62.87,114.86,37.44,60.49,97.80,25.60,1.44,6.91,9.06,NaN,0.00,NaN,111.0,Moderate
3,Kochi,25/01/2020,61.76,113.70,92.78,67.73,160.51,22.11,1.34,6.68,11.29,NaN,0.00,NaN,144.0,Moderate
4,Kochi,26/01/2020,66.76,113.24,106.79,58.69,165.49,20.70,1.36,6.75,11.43,NaN,0.05,NaN,197.0,Moderate

In [8]:
df.tail()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
29526,Ahmedabad,27/06/2020,62.12,118.67,9.18,56.35,19.86,NaN,0.49,12.44,68.05,1.32,37.76,1.62,92.0,Satisfactory
29527,Ahmedabad,28/06/2020,31.57,NaN,6.37,23.99,16.40,NaN,0.52,11.01,26.34,1.37,49.58,1.34,82.0,Satisfactory
29528,Ahmedabad,29/06/2020,29.75,127.98,9.06,25.15,18.92,NaN,0.67,12.10,34.99,1.39,60.21,0.79,74.0,Satisfactory
29529,Ahmedabad,30/06/2020,40.02,121.10,7.09,58.92,33.41,NaN,0.73,16.39,41.64,1.21,44.10,1.35,98.0,Satisfactory
29530,Ahmedabad,01/07/2020,37.63,NaN,4.42,35.04,20.17,NaN,0.28,14.40,9.69,1.73,47.05,1.87,119.0,Moderate

In [28]:
df.shape
print(f'No of Rows: {df.shape[0]}, No of Columns: {df.shape[1]}')

No of Rows: 29531, No of Columns: 16

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  object
 2   PM2.5       24933 non-null  float64
 3   PM10        18391 non-null  float64
 4   NO          25949 non-null  float64
 5   NO2         25946 non-null  float64
 6   NOx         25346 non-null  float64
 7   NH3         19203 non-null  float64
 8   CO          27472 non-null  float64
 9   SO2         25677 non-null  float64
 10  O3          25509 non-null  float64
 11  Benzene     23908 non-null  float64
 12  Toluene     21490 non-null  float64
 13  Xylene      11422 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: float64(13), object(3)
memory usage: 3.6+ MB

In [11]:
df.dtypes

City           object
Date           object
PM2.5         float64
PM10          float64
NO            float64
NO2           float64
NOx           float64
NH3           float64
CO            float64
SO2           float64
O3            float64
Benzene       float64
Toluene       float64
Xylene        float64
AQI           float64
AQI_Bucket     object
dtype: object

In [12]:
df.columns

Index(['City', 'Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2',
       'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket'],
      dtype='object')

In [13]:
df.isna().sum()

City              0
Date              0
PM2.5          4598
PM10          11140
NO             3582
NO2            3585
NOx            4185
NH3           10328
CO             2059
SO2            3854
O3             4022
Benzene        5623
Toluene        8041
Xylene        18109
AQI            4681
AQI_Bucket     4681
dtype: int64

### **Total number of stations in the dataset:**

In [27]:
City = df['City'].value_counts(ascending=True)
print(f'Total number of Cities in the dataset : {len(City)}')
City

Total number of Cities in the dataset : 26

City
Aizawl                 113
Kochi                  162
Ernakulam              162
Bhopal                 289
Chandigarh             304
Shillong               310
Coimbatore             386
Guwahati               502
Kolkata                814
Talcher                925
Brajrajnagar           938
Amaravati              951
Thiruvananthapuram    1112
Jaipur                1114
Jorapokhar            1169
Amritsar              1221
Visakhapatnam         1462
Gurugram              1679
Patna                 1858
Hyderabad             2006
Bengaluru             2009
Mumbai                2009
Lucknow               2009
Chennai               2009
Delhi                 2009
Ahmedabad             2009
Name: count, dtype: int64

### **Displaying the percentage of missing value**

In [33]:
def missing_values_table(df):
    # Total missing values
    mis_val = df.isnull().sum()

    # Percentage of missing values
    mis_val_percent = 100 * mis_val / len(df)

    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)

    mis_val_table = mis_val_table.rename(columns={0: 'Missing Values', 1: '% of Total Values'})

    # Sort the table by percentage of missing descending
    mis_val_table = mis_val_table.sort_values('% of Total Values', ascending=False)

    return mis_val_table

missing_values = missing_values_table(df)
display(missing_values.style.background_gradient(cmap='Reds'))

# **ðŸ“Š Analysis Questions to Answer :**

**Include short written answers (3â€“5 sentences) to these:**

* How many rows and columns are in your merged dataset?

* Which pollutants are included, and which have the most missing data?

* How many unique cities or stations are there?

* What are the average levels of key pollutants?

* Are there any immediate data quality issues (e.g., missing or inconsistent values)?